server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: http://loki:3100/loki/api/v1/push

scrape_configs:
  - job_name: like-knu-logs
    static_configs:
      - targets:
          - localhost
        labels:
          job: like-knu
          __path__: /app/logs/like-knu-json.log

    pipeline_stages:
      - json:
          expressions:
            level: level

      - labels:
          level:
