<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>공주대처럼 관리자</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="/headers.css" rel="stylesheet">
</head>
<body>

<div class="container">
  <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <h3>공주대처럼 관리자</h3>
      </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a href="/admin/messages" class="nav-link px-2 link-secondary">메시지 설정</a></li>
      <li><a href="/admin/analytics" class="nav-link px-2">접속자 확인</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-danger" id="logoutButton">로그아웃</button>
    </div>
  </header>
</div>

<div class="container p-5">
  <form class="col g-3 needs-validation" method="POST" action="/admin/messages"
        onsubmit="return confirm('정말 변경하실 건가요?! 돌이킬 수 없습니다😏');">
    <div class="mb-3 fs-5">[현재 메시지]<br><span th:text="${messages.get(0).message}"></span></div>
    <div class="col">
      <input type="text" class="form-control" id="message" placeholder="변경할 메시지를 입력해주세요!" name="message" maxlength="16"
             required>
    </div>
    <div class="mt-3 row justify-content-end">
      <button class="btn btn-primary col-5 mx-3" type="submit">메시지 등록</button>
    </div>
  </form>
</div>
<br><br>
<div class="container">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>메시지</th>
      <th>등록일시</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="message : ${messages}">
      <td th:text="${message.message}"></td>
      <td th:text="${message.formattedRegisteredDateTime()}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>

<script>
  const logoutButton = document.getElementById('logoutButton');

  if (logoutButton) {
    logoutButton.addEventListener('click', event => {
      const confirmation = confirm('다 작업하셨나요?');
      if (confirmation) {
        fetch(`/admin/logout`, {
          method: 'POST'
        })
          .then(() => {
            alert('바이바이~');
            location.replace(`/admin/login`);
          });
      } else {
      }
    });
  }

  (() => {
    'use strict'

    const getStoredTheme = () => localStorage.getItem('theme')
    const setStoredTheme = theme => localStorage.setItem('theme', theme)

    const getPreferredTheme = () => {
      const storedTheme = getStoredTheme()
      if (storedTheme) {
        return storedTheme
      }

      return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
    }

    const setTheme = theme => {
      if (theme === 'auto' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
        document.documentElement.setAttribute('data-bs-theme', 'dark')
      } else {
        document.documentElement.setAttribute('data-bs-theme', theme)
      }
    }

    setTheme(getPreferredTheme())

    const showActiveTheme = (theme, focus = false) => {
      const themeSwitcher = document.querySelector('#bd-theme')

      if (!themeSwitcher) {
        return
      }

      const themeSwitcherText = document.querySelector('#bd-theme-text')
      const activeThemeIcon = document.querySelector('.theme-icon-active use')
      const btnToActive = document.querySelector(`[data-bs-theme-value="${theme}"]`)
      const svgOfActiveBtn = btnToActive.querySelector('svg use').getAttribute('href')

      document.querySelectorAll('[data-bs-theme-value]').forEach(element => {
        element.classList.remove('active')
        element.setAttribute('aria-pressed', 'false')
      })

      btnToActive.classList.add('active')
      btnToActive.setAttribute('aria-pressed', 'true')
      activeThemeIcon.setAttribute('href', svgOfActiveBtn)
      const themeSwitcherLabel = `${themeSwitcherText.textContent} (${btnToActive.dataset.bsThemeValue})`
      themeSwitcher.setAttribute('aria-label', themeSwitcherLabel)

      if (focus) {
        themeSwitcher.focus()
      }
    }

    window.matchMedia('(prefers-color-scheme: dark)').addEventListener('change', () => {
      const storedTheme = getStoredTheme()
      if (storedTheme !== 'light' && storedTheme !== 'dark') {
        setTheme(getPreferredTheme())
      }
    })

    window.addEventListener('DOMContentLoaded', () => {
      showActiveTheme(getPreferredTheme())

      document.querySelectorAll('[data-bs-theme-value]')
        .forEach(toggle => {
          toggle.addEventListener('click', () => {
            const theme = toggle.getAttribute('data-bs-theme-value')
            setStoredTheme(theme)
            setTheme(theme)
            showActiveTheme(theme, true)
          })
        })
    })
  })()
</script>
</html>