scrape_configs:
  - job_name: 'like-knu-metrics'
    metrics_path: '/actuator/prometheus'
    scrape_interval: 3s
    static_configs:
      - targets: [ '172.31.30.55:8080' ]
        labels:
          application: 'like-knu'
