<?xml version="1.0" encoding="UTF-8"?>

<configuration>
    <timestamp key="BY_DATE" datePattern="yyyy-MM-dd" />
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />
    <property name="LOG_PATTERN"
        value="%yellow([%d{yyyy-MM-dd HH:mm:ss.SSS}]) %magenta([%22.22thread]) %clr(%-5level) | %blue(%50.50logger{50}) | %msg%n" />

    <include resource="logging/console-appender.xml" />
    <include resource="logging/file-appender.xml" />
    <include resource="logging/json-file-appender.xml" />

    <springProfile name="local,test">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
        </root>
    </springProfile>

    <springProfile name="local-dev">
        <root level="INFO">
            <appender-ref ref="CONSOLE" />
            <appender-ref ref="JSON-FILE" />
        </root>
    </springProfile>

    <springProfile name="dev">
        <root level="INFO">
            <appender-ref ref="FILE" />
        </root>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="JSON-FILE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>
